// Variables
$bar-grey: #8e98b8a8;
$light-grey: #B4B7CB;
$med-grey: #313340;
$dark-grey: #252831;
$hover: #414553;
$blue: #537FC1;
$green: #58C98B;
$yellow: #E3CB48;
$orange: #EEA667;
$red: #E37E7C;
$purple: #C291E2;
$bright-blue: rgb(51, 140, 255);
$bg-color: #282c34;

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

.App {
  text-align: center;
}

.chevron {
  position: absolute;
  left: -1em;
  color: $light-grey;
  padding-top: .1em;
}

// ABOUT ME

.about {
  padding: 4rem;
  margin: 3rem;
  text-align: left;
  background-color: $med-grey; 
  color: white;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;

  h2 {
      color: $yellow;
      position: relative;
    span {
      color: $green;
    }
  }
  
}

.about-text {
  align-items: center;
}

.bio {
  align-self: left;
//   width: 70%;
  padding: 0 5rem;
  border-left: 2px solid $bar-grey;
  font-size: calc(3px + 2vmin);
  line-height: 2rem;
}

// HEADER

.header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 4rem;
  /* font-size: 1.5em; */
  
}

.header-text-container {
  display: flex;
  margin-top: 5%;
  min-width: 30%;
  /* margin: auto 0; */
  flex-direction: column;
}

.main-flex {
  display: flex;
  text-align: center;
}

.Main-image {
  width: 70vmin;
  margin: .5rem;
  border-radius: 50% 20% / 10% 40%;
  box-shadow: -2em -1em #1b1d24,
              -1.5em -.75em #1b1d24,
              -1em -0.5em #1b1d24,
              -0.5em -0.25em #1b1d24;
  align-content: flex-end;

}

.name {
  text-shadow: -.6rem .6rem #1b1d24,
               -.5rem .5rem #1b1d24,
               -.4rem .4rem #1b1d24,
               -.3rem .3rem #1b1d24,
               -.2rem .2rem #1b1d24,
               -.1rem .1rem #1b1d24;
}

.tate {
  color: #E37E7C;
  /* font-weight: normal;
  text-shadow: -0.16rem  0.02rem rgba(0, 255, 242, 0.75),
                0.16rem  0.02rem rgba(255, 13, 174, 0.8),
                0.30rem  0.05rem rgba(0, 0, 255, 0.4),
                -.6rem .6rem #1b1d24,
               -.5rem .5rem #1b1d24,
               -.4rem .4rem #1b1d24,
               -.3rem .3rem #1b1d24,
               -.2rem .2rem #1b1d24,
               -.1rem .1rem #1b1d24; */
}

.header-text {
  text-align: left;
  word-wrap: break-word;
  font-size: 1.9rem; 
  min-height: 3em;
  min-width: 15em;
}

.icon {
  size: 1.5em; 
  color: rgb(51, 140, 255);
}


.dropbtn {
  background-color: $med-grey;
  color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Consolas', 
  sans-serif;
  font-size: 1.5rem;
  
}

.border-box {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 1px solid #14161a;
  
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 8%;
  background-color: $med-grey;
  // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  // border: 1px solid #14161a;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  /* display: none; */
  /* position: absolute; */
  // background-color: #282c34;
  margin: 0 0 5% 5%; 
  border-left: 2px solid $bar-grey;
  font-size: 1.5rem;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: $hover;}

// SKILLS

.skills {
  display: flex;
  flex-wrap: wrap;
  padding: 4rem 7rem;
  background-color: $med-grey;
  z-index: 20;
  flex-direction: column;
  padding: 0 4rem;
  margin: 0 3rem;
  // border-top: 1px solid $bar-grey;
}

.skill {
  padding: .8rem;
  margin: 1.2rem;
  border-radius: 10px;
  font-size: calc(8px + 1vh);
  
  &.alive {
    color: white;
  }

  &.dead {
    background-color: $med-grey;
    color: $bar-grey;
    border-color: $bar-grey;
  }
}

.skills-section{
  display: flex;
  flex-direction: column;
  margin-top: 7em;
  margin-bottom: 7em;
  border-bottom: 1px solid black;
  
}

.skill-header {
  display: flex;
  width: 100%;
}

.left-spacer {
  width: 3em;
  // border-bottom: 1px solid $bar-grey;
 
}

.right-spacer {
  min-width: 1em;
  flex: 1;
  margin-right: 3rem;
  border-bottom: 1px solid $bar-grey;
}

.tab {
  padding: 1rem;
  padding-right: 3rem;
  // border-top-left-radius: 10px;
  // border-top-right-radius: 10px;
  border: 2px solid mix(black, $dark-grey, 30%);
  margin-right: -2px;
  border-bottom: 1px solid $bar-grey;
  color: $bar-grey;
  background-color: $bg-color;
  font-size: 1.1rem;
  cursor: pointer;
  border-collapse: collapse;
  &:hover {
    background-color: $med-grey;
    color: $light-grey;
  }
  
}
.active-tab {
  color: white;
  border-bottom: 0px;
  border-left: 1px solid $bar-grey;
  border-right: 1px solid $bar-grey;
  border-top: 3px solid $red;
  background-color: $med-grey;
  text-shadow: -3px 3px black;
}

.box-shadow {
  box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.329);
  
}

// COLOR CLASSES

.red {
  color: $red;
}

.purple {
  color: $purple;
}

.yellow {
  color: $yellow;
}

.orange {
  color: $orange;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}

.bright-blue {
  color: $bright-blue;
}

.red-bg {
  background-color: shade($red, 20%);
  
}

.purple-bg {
  background-color: shade($purple, 25%);
}

.yellow-bg {
  background-color: shade($yellow, 35%);
}

.orange-bg {
  background-color: shade($orange, 35%);
}

.green-bg {
  background-color: shade($green, 20%);
}

.blue-bg {
  background-color: shade($blue, 30%);
}

.bright-blue-bg {
  background-color:shade($bright-blue, 20%);
}