// Variables
$bar-grey: #8e98b8a8;
$light-grey: #B4B7CB;
$project-grey: #444551;
$med-grey: #313340;
$dark-grey: #252831;
$hover: #46495a;
$blue: #537FC1;
$green: #58C98B;
$yellow: #E3CB48;
$orange: #EEA667;
$red: #E37E7C;
$purple: #C291E2;
$bright-blue: rgb(51, 140, 255);
$bg-color: #282c34;

h2 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
  line-height: 1.5;
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

.App {
  text-align: center;
}

.chevron {
  position: absolute;
  left: -1em;
  color: $light-grey;
  padding-top: .1em;
}

// ABOUT ME



.section {
  padding: 1rem calc(1vw);
  padding-left: calc(1rem + 3vw);
  
  margin: 3rem calc(10vw - 4rem);
  text-align: left;
  background-color: $med-grey; 
  color: white;
  font-size: calc(12px + 1vmin);
  display: flex;
  flex-direction: column;

  h2 {
    color: $yellow;
    position: relative;
  }
  
  @media (max-width: 900px){
    margin: 3rem 0;
    
  }
  @media (max-width: 460px){
    padding-left: 0px;

  }
}
.about-text {
  align-items: center;
}

.bio {
  align-self: left;
  // padding: 0 5rem;
  padding-left: calc(4vw);
  padding-right: calc(.5rem + 2vw);
  border-left: 2px solid $bar-grey;
  font-size: 18px;
  line-height: 2rem;
  @media (max-width: 900px){
    padding: 0 1rem;
  }
}

// HEADER

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: calc(10vw - 2rem);
  margin-top: 2rem;
  @media (max-width: 1100px){
    align-items: center;
    justify-content: center;
    .name {
      text-align: center;
    }
  }
}

.header-text-container {
  display: flex;
  margin-top: calc(7vw - 2rem);
  min-width: 30%;
  flex-direction: column;
}

.flying-header-text {
  // position: absolute;
  z-index: 1;
  white-space: nowrap;

  @media (max-width: 1100px) {
    text-align: center;
  }
 
}

.main-flex {
  display: flex;
  text-align: center;
}

.Main-image {
  width: calc(10rem + 18vw);
  margin-left: calc(12rem - 15vw);
  border-radius: 50% 20% / 10% 40%;
  box-shadow: -2em -1em #1b1d24,
              -1.5em -.75em #1b1d24,
              -1em -0.5em #1b1d24,
              -0.5em -0.25em #1b1d24;
  align-content: flex-end;
  @media (max-width: 1100px){
    display: none;
  }

}

.mobile-image {

  display: none;

  @media (max-width: 1100px) {
    background: url(/portfolio-pic3.jpeg);
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    display: inline-block;
    background-size: 30rem 47rem;
    background-position: -10rem -1.4rem;
  }
  
}

.name {
  font-size: calc(1.4rem + 1.3vw);
  text-shadow: -.6rem .6rem #1b1d24,
               -.5rem .5rem #1b1d24,
               -.4rem .4rem #1b1d24,
               -.3rem .3rem #1b1d24,
               -.2rem .2rem #1b1d24,
               -.1rem .1rem #1b1d24;
}

.tate {
  color: #E37E7C;
  /* font-weight: normal;
  text-shadow: -0.16rem  0.02rem rgba(0, 255, 242, 0.75),
                0.16rem  0.02rem rgba(255, 13, 174, 0.8),
                0.30rem  0.05rem rgba(0, 0, 255, 0.4),
                -.6rem .6rem #1b1d24,
               -.5rem .5rem #1b1d24,
               -.4rem .4rem #1b1d24,
               -.3rem .3rem #1b1d24,
               -.2rem .2rem #1b1d24,
               -.1rem .1rem #1b1d24; */
}

.header-text {
  text-align: left;
  word-wrap: break-word;
  font-size: calc(1vw + 1rem); 
  min-height: 3em;
  min-width: 15em;
  @media (max-width: 1100px){
    text-align: center;
    min-width: initial;
  }
}

.icon {
  size: 1.5em; 
  color: rgb(51, 140, 255);
}


.dropbtn {
  background-color: $med-grey;
  color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Consolas', 
  sans-serif;
  font-size: calc(1rem + 0.6vw);
  white-space: nowrap;
}

.border-box {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 1px solid #14161a;
  
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 3rem;
  background-color: $med-grey;
  padding: 1rem 2rem;
  // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  // border: 1px solid #14161a;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  /* display: none; */
  /* position: absolute; */
  // background-color: #282c34;
  margin: 0 0 5% 5%; 
  border-left: 2px solid $bar-grey;
  font-size: calc(1rem + 0.5vw);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 300ms ease-out;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: $hover;
}

// SKILLS

.skills {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 4rem;
  min-height: 12rem;
  background-color: $med-grey;
  z-index: 20;
  flex-direction: column;
  // margin: 0 3rem;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.skill {
  padding: .4rem .7rem;
  margin: calc(.8vw + .3rem);
  border-radius: 10px;
  font-size: calc(8px + 1vh);
  white-space: nowrap;
  
  &.alive {
    color: white;
  }

  &.dead {
    background-color: $med-grey;
    color: $bar-grey;
    border-color: $bar-grey;
  }
}

.skills-section{
  background-color: initial;
  padding: 0;
  
  @media (max-width: 900px){
    display: none;
  }
  
}

.skill-header {
  display: flex;
  width: 100%;
  max-width: 100%;
}

.left-spacer {
  width: 3em;
  border-bottom: 1px solid black;
 
}

.right-spacer {
  min-width: 1em;
  flex: 1;
  border-bottom: 1px solid black;
}

.tab {
  padding: 1rem;
  padding-right: calc(8vw - 2.5rem);
  border: 2px solid mix(black, $dark-grey, 30%);
  margin-right: -2px;
  border-bottom: 1px solid black;
  color: $bar-grey;
  background-color: $bg-color;
  font-size: calc(16px + 0.2vw);
  white-space: nowrap;
  cursor: pointer;
  border-collapse: collapse;
  transition: background-color 300ms ease-out, color 300ms ease-out;
  &:hover {
    background-color: $med-grey;
    color: $light-grey;
  }
  
}
.active-tab {
  color: white;
  border-bottom: 0px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 3px solid $red;
  background-color: $med-grey;
  text-shadow: -3px 3px black;
}

.box-shadow {
  box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.329);
}

.skills-carousel {
  padding: 0;
  display: none;

  @media (max-width: 900px) {
    display: block;
  }
}

.carousel-content {
  margin: 2rem calc(8vw - .3rem);
  width: initial;
}

.section h2 {
  &.carousel-header {
    color: white;
  }
}

.carousel-control-next, .carousel-control-prev {
  width: 10%;
}

// PROJECTS
.projects {
  border: 1px solid #14161a;
}

.projects-section {
  display: flex;
  flex-wrap: wrap;
  padding-left: 2%;
  border-left: 2px solid #8e98b8a8;
}

.project-container {
  margin:0;
  width: 50%;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 20px;
  @media (max-width: 1200px) {
    width: 100%;
  }
  @media (max-width: 460px){
    padding: 20px 0px;
  }
}
// this is being used to ensure each project is taking up 50% but still has room for padding

.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: $hover;
  font-size: calc(10px + 1vmin);
  border: 1px solid #14161a;
  height: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  padding-top: 1px;

  p {
    line-height: 1.5rem;
    
  }

  a {
    color: $light-grey;
    text-decoration: none;
    &:hover {
      color: white;
      transition: color 300ms ease-out;
    }
  }
}

.project-header {
  width: 100%;
  background-color: $dark-grey;
  box-sizing: border-box;
  padding: 1.5rem  1.5rem .1rem 1.5rem;
  border-radius: 10px 10px 0 0;
  
  img {
    border-radius: 10px;
    width:100%;
  }
  .project-title {
    text-align: center;
    font-weight: normal;
    color: white;
    letter-spacing: 1px;
    margin: 1rem -2rem;

    span {
      font-weight: bold ;
    }
  }
}

.project-description {
  padding: 1.5rem;
  // background-color: $med-grey;
  border-radius: 0 0 10px 10px;
  max-width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.tools {
  display: flex;
  flex-direction: row;
  margin: 0rem -1.2rem;
}

// CONTACT

.contactInfo {
  display:flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0rem -1.2rem;
  justify-content: stretch;
  text-align: center;
  &.home-div {
    justify-content: center;
    .skill {
      background-color: $med-grey;
      flex-grow: initial;
    }
  }

  .skill {
    flex-grow: 1;
    font-size: calc(12px + 1vmin);
    border: 1px solid white;
    transition: background-color 300ms ease-out;
    @media (max-width: 710px){
      min-width: 60%;
    }
    i {
      transition: color 300ms ease-out;
    }
  }
  a {
    text-decoration: none;
    color: white;
  }

  
  .contact-gh{
    &:hover {
      background-color: rgba(0, 0, 0, 0.513);
    
      i {
        color: white;
      }
    }
    @media (max-width: 710px){
      background-color: rgba(0, 0, 0, 0.513);
      border: none;
      i {
        color: white;
      }
    }
  }
  .contact-mail {
    &:hover {
      @extend .red-bg;
     
      i {
        color: white;
      }
    }
    @media (max-width: 710px){
      background-color: shade($red, 20%);
      border: none;
      i {
        color: white;
      }
    }
  }

  .contact-twtr{
    &:hover {
      @extend .bright-blue-bg;
  
      i {
        color: white;
      }
    }
    @media (max-width: 710px){
      background-color:shade($bright-blue, 20%);
      border: none;
      i {
        color: white;
      }
    }
  }

  .contact-lnk {
    &:hover {
      @extend .blue-bg;
   
      i {
        color: white;
      }
    }
    @media (max-width: 710px){
      background-color: shade($blue, 30%);
      border: none;
      i {
        color: white;
      }
    }
  }
}

.lower-div {
  width:50%;
}

.contact-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.home-div {
 justify-content: center;
}

// COLOR CLASSES

.red {
  color: $red;
}

.purple {
  color: $purple;
}

.yellow {
  color: $yellow;
}

.orange {
  color: $orange;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}

.bright-blue {
  color: $bright-blue;
}

.red-bg {
  background-color: shade($red, 20%);
  
}

.purple-bg {
  background-color: shade($purple, 25%);
}

.yellow-bg {
  background-color: shade($yellow, 35%);
}

.orange-bg {
  background-color: shade($orange, 35%);
}

.green-bg {
  background-color: shade($green, 20%);
}

.blue-bg {
  background-color: shade($blue, 30%);
}

.bright-blue-bg {
  background-color:shade($bright-blue, 20%);
}