.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 5%;
  /* font-size: 1.5em; */
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-flex {
  display: flex;
  text-align: center;
}

.Main-image {
  /* height: 100%; */
  margin: .5rem;
  border-radius: 50% 20% / 10% 40%;
  box-shadow: -2em -1em #1b1d24;
  align-content: flex-end;

}

.header-text {
  text-align: left;
  word-wrap: break-word;
  font-size: 1.5em; 
}

.icon {
  size: 3em; 
  color: #537FC1
}

